@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
    width: 100%;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 500;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    max-width: 600px;
    position: relative;
}
.content .textBox h2{
    font-size: 4em;
    font-weight: 500;
    line-height: 1.2em;
    color: #333;
}
.content .textBox h2 span{
    font-weight: 900;
    color: #017143;
    font-size: 1.2em;
}
.content .textBox p{
    color: #333;
    margin: 20px 0 40px;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    background: #017143;
    padding: 8px 20px;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox{
    display: flex;
    width: 400px;
    justify-content: flex-start;
    padding-right: 30px;
}
.content .imgBox img{
    max-width: 350px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.6s;
}
.thumb li:hover{
    transform: translateY(-15px);
}
.thumb li img{
    max-width: 60px;
    opacity: .85    ;
    transition: .4s;
}
.sci{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}
.sci li{
    list-style: none;
    margin: 5px 0;
}
.sci a{
    display: inline-block;
    margin: 5px 0px;
    transform: scale(0.1);
    transition: .4s;
    margin-left: 250px;
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(650px at right 800px );
}